<h1>Alors on veux nous rejoindre ? C'est cool !</h1>

<p>
    Pense bien à valider ton mail en cliquant sur ce lien <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer votre email</a>.
    Attention ! Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement
    SNOWTRICKS
</p>
