{% extends 'base.html.twig' %}

{% block title %}Réinitalisé son mot de passe{% endblock %}

{% block body %}
<div class="container__homepage--top" >
    <h1 class="content">Réinitalisé son mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitalisé mot de passe</button>
    {{ form_end(resetForm) }}
    </div>
{% endblock %}
