{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <div {{ vue_component('MyComponent', { 'name': controller_name }) }}></div>

{% endblock %}
