{% extends 'base.html.twig' %}

{% block title %}Acceuil Snowtricks!{% endblock %}

{% block body %}

    <section class="container-top-homepage">
        {% include 'default/_card_lastTrick.html.twig' %}

        {#  {% include 'default/_card_lastNews.html.twig' %}#}
        {# {% include 'default/_card_lastVideo.html.twig' %}#}
        {# {% include 'default/_card_lastPhoto.html.twig' %} #}
    </section>




    <section class="container-bottom-homepage">
       {# {% include 'default/_card_groups.html.twig' %} #}
    </section>











{% endblock %}