$color-primary: #0B2C3D;
$color-background : #e3f1fb;
$color-secondary: #FF5A3C;
$color-success: #BADA55;
$color-danger: crimson;

$breakpoint-smartphone: 390px;
$breakpoint-tablet: 820px;
$breakpoint-desktop: 1280px;