{% extends 'base.html.twig' %}

{% block title %}Conditions générales{% endblock %}

{% block body %}
    <div class="container">
        <div class="content">
            <h1>Conditions Générales d'Utilisation (CGU) pour un Site Communautaire de Figures de Snowboard</h1>
            <p><em>Dernière mise à jour : 1er juin 2023</em></p>
        </div>
        <div class="content">
            <p>Les présentes <strong>Conditions Générales d'Utilisation</strong> (ci-après dénommées "CGU") régissent
                l'utilisation du site communautaire de figures de snowboard (ci-après dénommé "snowtricks"). Le Site
                permet aux utilisateurs de partager des figures de snowboard, de créer de nouvelles figures, d'écrire
                des commentaires et de s'inscrire pour accéder à un espace personnel. En utilisant le Site, vous
                acceptez les présentes CGU dans leur intégralité. Si vous n'acceptez pas ces CGU, veuillez ne pas
                utiliser le Site.</p>

        </div>
        <div class="content">
            <h2>1. Acceptation des CGU</h2>
            <p>En utilisant le Site, vous déclarez avoir lu, compris et accepté les présentes CGU, ainsi que notre
                Politique de Confidentialité. Si vous êtes en désaccord avec l'une de ces conditions, veuillez ne pas
                utiliser le Site.</p>

        </div>
        <div class="content">
            <h2>2. Utilisation du Site</h2>
            <p>a. Inscription : Pour accéder à certaines fonctionnalités du Site et pour posséder un espace personnel,
                vous devez vous inscrire en fournissant des informations exactes, complètes et à jour. Vous êtes
                responsable de maintenir la confidentialité de vos informations de connexion et de restreindre l'accès à
                votre compte. Vous êtes entièrement responsable de toutes les activités effectuées sous votre
                compte.</p>
            <p>b. Contenu généré par les utilisateurs : Vous pouvez contribuer au Site en soumettant des figures de
                snowboard, des commentaires ou d'autres contenus (ci-après dénommés "Contenu généré par les
                utilisateurs"). En soumettant du Contenu généré par les utilisateurs, vous garantissez être le
                propriétaire de ce contenu ou avoir le droit de le publier. Vous accordez au Site une licence non
                exclusive, mondiale, perpétuelle, irrévocable, transférable et libre de redevances pour utiliser,
                reproduire, modifier, adapter, distribuer, afficher publiquement et créer des œuvres dérivées à partir
                de votre Contenu généré par les utilisateurs.</p>
            <p>c. Règles de conduite : Vous acceptez de ne pas utiliser le Site d'une manière qui pourrait nuire à
                d'autres utilisateurs ou porter atteinte à la sécurité ou au bon fonctionnement du Site. Vous vous
                engagez à respecter les lois en vigueur et à ne pas publier de contenu illégal, diffamatoire, offensant,
                discriminatoire, obscène ou pornographique.</p>

        </div>
        <div class="content">
            <h2>3. Propriété intellectuelle</h2>
            <p>Le Site et son contenu (y compris, mais sans s'y limiter, les textes, les images, les vidéos, les logos
                et les marques de commerce) sont protégés par les lois sur la propriété intellectuelle. Vous vous
                engagez à respecter tous les droits de propriété intellectuelle relatifs au Site.
        </div>
        <div class="content">
            <h2>4. Limitation de responsabilité</h2>
            <p>a. Utilisation du Site : Le Site est fourni "tel quel" et sans garantie d'aucune sorte. Nous ne
                garantissons pas que le Site sera exempt d'erreurs, de virus ou d'autres composants nuisibles. Vous
                utilisez le Site à vos propres risques.</p>
            <p>b. Contenu généré par les utilisateurs : Nous ne sommes pas responsables du Contenu généré par les
                utilisateurs.</p>
        </div>


        <
    </div>
{% endblock %}
