@use '../sass-utils/variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  background-color:variables.$color-background;

}
.container-main {
  width: variables.$breakpoint-desktop;
  margin: 0 auto;
}

@media screen and (max-width: variables.$breakpoint-desktop) {
  .container-main {
    width: variables.$breakpoint-tablet;
  }
}

@media screen and (max-width: variables.$breakpoint-tablet) {
  .container-main {
    width: variables.$breakpoint-smartphone;
  }
}

@media screen and (max-width: variables.$breakpoint-smartphone) {
  .container-main {
    width: 100%;
  }
}




