@use "assets/styles/sass-utils/variables";

body {

  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container__homepage  {
  display: grid;
  grid-gap: 1rem;
  justify-content: space-evenly;
  margin: 1rem;
  grid-template-areas:
"lasttrick lastnews "
  "lasttrick lastnews"

}







