<footer>

    <div class="footer_montagne">

    </div>
    <div class="footer-sup">

        <div class="icon">
            <a href="https//www.instagram.com" aria-label="instagram">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="35" xmlns="http://www.w3.org/2000/svg"
                     height="35.52" id="screenshot-279f09c6-74a5-803f-8002-5534eab8679f" viewBox="0 0 35 35.52"
                     style="-webkit-print-color-adjust: exact;" fill="none" version="1.1">
                    <g id="shape-279f09c6-74a5-803f-8002-5534eab8679f" width="54.02943mm" height="53.486816mm" rx="0"
                       ry="0" style="fill: rgb(0, 0, 0);">
                        <g id="shape-279f09c6-74a5-803f-8002-5534eab867ad">
                            <g class="fills" id="fills-279f09c6-74a5-803f-8002-5534eab867ad">
                                <path color="#000" overflow="visible" rx="0" ry="0"
                                      d="M3.526,3.072C8.829,2.522,26.023,1.823,29.099,2.098C32.175,2.374,33.874,5.741,33.667,9.214C33.461,12.688,32.749,27.513,32.405,29.653C32.060,31.792,32.722,33.823,27.813,33.465C22.905,33.107,5.839,33.264,5.839,33.264C4.693,33.738,0.961,30.702,1.620,24.930C2.248,19.439,1.689,4.386,3.526,3.072ZZ"
                                      style="fill: rgb(255, 255, 255); fill-opacity: 1;"/>
                            </g>
                        </g>
                        <g id="shape-279f09c6-74a5-803f-8002-5534eab867ae">
                            <g class="fills" id="fills-279f09c6-74a5-803f-8002-5534eab867ae">
                                <path rx="0" ry="0"
                                      d="M6.068,34.725C3.329,33.891,1.425,33.405,0.894,30.283C0.290,26.727,-0.567,11.968,0.524,5.547C0.916,3.236,2.231,1.021,5.821,0.753C8.779,0.532,14.074,0.079,20.190,0.000C32.908,0.317,35.229,1.510,34.921,9.342C34.726,14.293,35.614,22.992,34.059,29.972C33.061,34.451,30.400,35.754,22.972,35.399C17.657,35.271,10.414,36.071,6.068,34.725ZZM22.905,33.107C29.524,32.818,30.686,31.502,31.423,27.575C32.114,23.898,32.334,14.192,32.485,12.140C33.136,3.263,28.520,3.215,25.744,2.783C18.972,1.860,15.616,2.770,8.753,3.318C6.311,3.546,4.577,3.877,3.611,6.095C2.718,8.145,2.553,24.510,3.586,27.700C4.453,30.374,4.247,31.321,9.547,32.433C14.627,33.535,18.441,33.302,22.905,33.107ZZM14.164,26.140C11.424,24.596,9.369,19.694,9.910,15.993C10.132,14.477,10.587,13.571,11.808,12.213C14.263,9.483,17.066,9.127,20.906,11.059C22.790,11.704,23.445,13.277,24.424,14.545C26.777,17.578,26.813,20.604,24.528,23.236C21.855,26.313,16.925,27.695,14.164,26.140ZZM20.239,23.030C22.409,21.856,23.946,19.404,23.628,17.621C22.074,12.646,17.064,10.721,14.071,13.673C12.466,15.318,12.464,15.326,12.621,18.108C12.774,20.822,13.020,21.394,14.897,23.417C15.705,24.287,18.256,24.102,20.239,23.030ZZM24.751,9.934C23.539,9.465,23.061,6.927,23.987,5.878C24.725,5.042,26.063,5.318,26.996,6.030C28.571,7.233,28.275,8.156,27.144,9.216C26.028,10.198,25.692,10.299,24.751,9.934ZZ"
                                      style="fill: rgb(3, 3, 3);"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="www.twitter.com" aria-label="twitter">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="35" xmlns="http://www.w3.org/2000/svg"
                     height="37" id="screenshot-279f09c6-74a5-803f-8002-5534eab8679e" viewBox="0 0 35 37"
                     style="-webkit-print-color-adjust: exact;" fill="none" version="1.1">
                    <g id="shape-279f09c6-74a5-803f-8002-5534eab8679e" width="55.771923mm" height="40.408821mm" rx="0"
                       ry="0" style="fill: rgb(0, 0, 0);">
                        <g id="shape-279f09c6-74a5-803f-8002-5534eab867aa">
                            <g class="fills" id="fills-279f09c6-74a5-803f-8002-5534eab867aa">
                                <path color="#000" overflow="visible" rx="0" ry="0"
                                      d="M4.888,34.268C4.888,34.268,15.333,37.518,21.711,30.458C28.090,23.399,29.547,16.181,28.530,10.597C27.512,5.014,22.167,3.179,20.451,4.775C18.735,6.370,16.366,11.953,16.366,11.953L3.032,3.020C3.032,3.020,-0.536,7.447,0.815,10.976C2.167,14.506,6.100,17.796,6.100,17.796C6.100,17.796,2.167,17.557,3.898,20.947C5.629,24.337,9.487,25.513,9.487,25.513C9.487,25.513,7.163,31.116,5.356,31.495C3.549,31.874,4.888,34.268,4.888,34.268ZZ"
                                      style="fill: rgb(255, 255, 255); fill-opacity: 1;"/>
                            </g>
                        </g>
                        <g id="shape-279f09c6-74a5-803f-8002-5534eab867ab">
                            <g class="fills" id="fills-279f09c6-74a5-803f-8002-5534eab867ab">
                                <path rx="0" ry="0"
                                      d="M4.827,36.062C1.778,34.520,1.444,31.541,4.188,30.364C5.125,29.962,6.393,28.931,7.007,28.073L8.123,26.513C3.399,25.533,0.509,20.875,2.438,17.699C2.960,16.858,2.920,16.620,2.049,15.397C0.396,13.075,-0.146,10.937,0.033,7.447C0.713,-0.962,2.238,-1.589,5.310,2.292C8.310,6.144,15.416,10.451,15.824,8.665C17.143,4.499,19.338,1.884,21.865,1.715C24.980,1.266,27.328,4.102,29.551,6.950L31.163,6.009C32.619,5.159,35.000,5.216,35.000,6.101C35.000,6.621,33.758,7.899,31.788,9.408C29.960,10.807,29.477,11.789,30.425,12.177C32.653,13.089,34.221,13.866,34.221,14.059C33.667,16.868,31.246,16.053,30.041,15.857L29.570,18.587C28.264,26.169,24.517,31.792,18.529,35.156C14.200,36.849,10.947,37.833,4.827,36.062ZZM25.516,21.227C26.704,17.490,27.574,9.440,25.579,7.233C23.355,4.802,19.344,6.247,18.817,9.669C18.431,12.180,18.012,12.790,16.550,12.971C13.848,13.306,9.349,10.806,5.059,6.589C3.905,5.454,2.882,4.640,2.786,4.780C2.690,4.921,2.449,6.085,2.252,7.368C1.631,11.401,3.319,14.088,7.645,15.953C10.342,17.318,9.447,19.401,7.079,19.528C4.879,19.695,4.679,20.180,6.238,21.568C7.090,22.325,8.228,22.736,9.495,22.743C12.231,22.759,12.741,23.332,11.848,25.387C11.464,26.273,10.203,28.346,9.047,29.993C6.669,33.381,6.814,33.368,10.095,33.298C15.982,33.739,22.366,28.696,25.516,21.227ZZ"
                                      style="fill: rgb(3, 3, 3);"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="www.pinterest.com" aria-label="pinterest">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="35" xmlns="http://www.w3.org/2000/svg"
                     height="37" id="screenshot-279f09c6-74a5-803f-8002-5535370c896f" viewBox="0 0 35 37"
                     style="-webkit-print-color-adjust: exact;" fill="none" version="1.1">
                    <g id="shape-279f09c6-74a5-803f-8002-5535370c896f" width="70.516197mm" height="73.213257mm" rx="0"
                       ry="0" style="fill: rgb(0, 0, 0);">
                        <g id="shape-279f09c6-74a5-803f-8002-5535370d5180">
                            <g class="fills" id="fills-279f09c6-74a5-803f-8002-5535370d5180">
                                <path color="#000" overflow="visible" rx="0" ry="0"
                                      d="M1.834,15.744C3.745,9.353,8.058,0.501,19.563,0.978C31.068,1.455,34.728,10.539,33.113,19.076C31.498,27.612,25.296,38.297,13.301,35.309C1.306,32.322,0.334,22.152,1.834,15.744ZZ"
                                      style="fill: rgb(255, 255, 255);"/>
                            </g>
                        </g>
                        <g id="shape-279f09c6-74a5-803f-8002-5535370e294c">
                            <g class="fills" id="fills-279f09c6-74a5-803f-8002-5535370e294c">
                                <path rx="0" ry="0"
                                      d="M19.542,0.001C17.602,0.023,15.441,0.359,13.025,1.058C-0.278,4.507,-4.750,23.925,6.051,33.327C13.727,39.448,25.405,37.661,30.585,29.880C35.297,23.202,36.222,17.226,33.433,9.660C30.583,3.862,26.471,-0.076,19.542,0.001ZZM18.265,2.075C23.335,2.092,28.751,4.744,31.010,9.784C33.811,15.843,31.686,23.427,27.011,29.882C25.045,31.899,21.671,34.611,17.601,34.702C14.602,34.807,13.931,34.658,13.931,33.888C13.931,33.387,15.127,28.461,15.924,25.678C16.300,24.461,19.934,26.848,22.991,24.101C26.563,21.190,28.459,13.937,26.608,10.268C23.957,5.390,18.081,2.263,13.104,7.793C11.245,9.808,9.884,14.195,10.585,15.917C10.871,16.608,11.890,17.715,12.556,16.989C12.808,16.657,13.015,16.078,13.015,15.703C13.015,15.327,13.244,14.296,13.525,13.412C14.112,11.560,15.233,10.451,17.013,9.964C19.456,9.309,22.130,11.518,22.730,14.503C23.036,18.265,21.120,21.779,18.997,21.347C17.546,21.051,17.325,20.627,17.609,18.682C18.072,15.511,17.972,14.458,17.112,13.417C16.593,12.788,16.042,12.461,15.508,12.461C14.207,12.463,13.480,14.609,13.443,18.556C13.341,22.554,11.910,28.970,10.830,33.439C10.518,33.801,8.074,32.055,6.518,30.357C2.672,26.059,1.700,20.869,2.889,15.526C4.329,10.575,5.903,7.642,11.490,3.966C13.395,2.687,15.789,2.067,18.265,2.075ZZ"
                                      style="fill: rgb(3, 3, 3);"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="www.facebook.com" aria-label="facebook">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="27" xmlns="http://www.w3.org/2000/svg"
                     height="34" id="screenshot-279f09c6-74a5-803f-8002-55354e224cd7" viewBox="-0 -0 27 34"
                     style="-webkit-print-color-adjust: exact;" fill="none" version="1.1">
                    <g id="shape-279f09c6-74a5-803f-8002-55354e224cd7" width="37.982784mm" height="64.410667mm" rx="0"
                       ry="0" style="fill: rgb(0, 0, 0);">
                        <g id="shape-279f09c6-74a5-803f-8002-55354e25c8f7">
                            <g class="fills" id="fills-279f09c6-74a5-803f-8002-55354e25c8f7">
                                <path color="#000" overflow="visible" rx="0" ry="0"
                                      d="M9.536,14.563C9.536,14.563,9.695,9.167,9.768,6.678C9.842,4.189,12.415,2.077,17.377,1.512C22.338,0.947,24.654,1.397,24.654,1.397L25.009,6.998L18.553,7.243L18.222,14.866L24.715,14.571L25.132,20.294L18.945,20.868L19.913,32.617L10.957,32.756L11.055,21.703L1.854,21.400L1.865,14.809Z"
                                      style="fill: rgb(255, 255, 255);"/>
                            </g>
                        </g>
                        <g id="shape-279f09c6-74a5-803f-8002-55354e273c91">
                            <g class="fills" id="fills-279f09c6-74a5-803f-8002-55354e273c91">
                                <path rx="0" ry="0"
                                      d="M9.345,33.486C9.078,33.116,9.087,31.840,9.370,29.957C9.614,28.335,9.754,26.091,9.683,24.970C9.649,23.417,10.066,22.715,8.078,22.411C5.757,22.195,2.131,23.094,0.529,21.888C-0.154,21.277,-0.185,15.071,0.491,14.562C0.824,14.311,2.538,14.069,4.649,13.973L8.239,13.811L8.150,12.836C7.690,7.799,7.827,5.654,8.676,4.558C11.821,1.181,17.101,0.006,21.274,0.000C26.884,0.000,26.810,-0.057,26.773,4.219C26.736,8.344,26.410,8.817,24.042,8.181C22.285,7.710,20.914,7.695,19.806,8.135C19.105,8.414,18.960,8.828,18.960,10.546C18.960,13.792,18.984,14.461,23.823,13.562C24.489,13.438,25.925,13.486,26.158,14.325C26.899,16.515,27.846,21.749,25.575,21.459L21.025,21.861L21.331,27.635C21.552,31.778,21.500,33.471,21.147,33.633C20.876,33.757,18.204,33.906,15.208,33.963C10.344,34.055,9.717,34.004,9.345,33.486ZZM18.434,26.984C18.245,24.165,17.891,22.038,17.520,21.486C17.139,20.919,17.046,20.324,17.267,19.879C17.570,19.271,20.201,19.494,22.257,19.494C24.421,19.632,23.309,17.603,23.185,15.976C22.922,15.659,20.285,15.381,18.619,15.998C16.916,16.630,16.387,15.834,16.083,12.181C15.889,9.852,15.979,8.573,16.402,7.650C17.065,6.203,17.831,5.933,21.422,5.882C23.571,5.851,23.676,5.807,23.938,4.834C24.089,4.275,24.212,3.398,24.212,2.884C24.212,1.959,24.185,1.950,21.595,1.950C9.870,2.606,10.871,8.085,11.072,12.621C11.218,15.813,11.172,15.840,5.504,15.896L2.769,15.923L2.769,20.147L5.286,20.198C6.669,20.226,8.405,20.270,9.143,20.296C13.283,20.804,13.314,22.630,13.077,24.982C12.904,27.156,12.641,29.324,12.339,31.490C14.397,31.527,16.469,31.679,18.524,31.632C18.645,31.604,18.605,29.512,18.434,26.984ZZ"
                                      style="fill: rgb(3, 3, 3);"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>
    <div class="footer-inf">
        <h4>© 2023 Copyright: SnowTricks  </h4>
        <h4><a href="">Conditions générales</a></h4>
    </div>
</footer>