{% extends 'base.html.twig' %}

{% block title %}New tricks{% endblock %}

{% block body %}
    <h1>Create new tricks</h1>

    {{ include('tricks/_form.html.twig') }}

    <a href="{{ path('app_trick_index') }}">back to list</a>
{% endblock %}
